.exercises-container{
    background-color: deeppink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    .x1{
        width: 22%;
    }
    .x2{
        width: 47%;
    }
    .x3{
        width: 72%;
    }
    .x4{
        width: 100%;
    }
    .single-excercise{
        background-color: lemonchiffon;
        border-radius: 20px;
        padding: 1%;
        margin-block: .5rem;
        .section-title{
            font-size: 1.2rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        .controls-wrapper{
            background-color: seagreen;
            min-height: 6rem;
            width: 100%;
            display: flex;
            gap: 2%;
            justify-content: space-between;
            align-items: center;
            .control-btn, .result{
                width: 30%;
                font-size: 3rem;
                text-align: center;
                margin: 0;
            }
        }
        .person-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-block: 1rem;
            gap: 1rem;
            .person-img-wrapper{
                width: 25%; 
                aspect-ratio: 1 / 1;
                background-color: aqua;
                .person-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    //display: none;
                }
            }
            .person-data-wrapper{
                .person-name,
                .person-role{
                    margin: 0;
                }
            }
        }
        .to-do-list-wrapper{  
            display: flex;
            flex-direction: row;
            gap: 1%;          
            .task-input-wrapper{
                width: 29.5%;
                background-color: yellowgreen;
                display: flex;
                flex-direction: column;
                padding: 1% 2%;
                .input-task-label{
                }
                .input-task-input{
                    margin-bottom: .5rem;
                }
            }

            .task-list-wrapper{
                width: 69.5%;
                background-color: aqua;
                .single-task{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .15rem;
                    background-color: yellow;
                    border: solid 1px rgb(94, 94, 94);
                    border-radius: 4px;
                    padding: 0 1%;
                    .task-name{
                        margin: 0;
                    }
                    .task-time{
                        top:.5rem;
                        right: .5rem;
                        background-color: red;
                        color: #fff;
                        font-size: .75rem;
                        padding: .2rem;
                        border-radius: 4px;
                    }
                }
                
            }
        }
    }

}